@tailwind base;
@tailwind components;
@tailwind utilities;


#customActive a.active {
  font: bold;
  color: yellow;
}
#customActive a {
  background-color: transparent;
}

#dashboard a.active {
    color: white;
  }
#dashboard a {
    background-color: transparent;
  }

